.home .home-container .first-section{
    position: relative;
}

.home .home-container .first-section .carousel{
    width: 100%;
    height: 95vh;
    position: relative;
    overflow: hidden;
}
  
.home .home-container .first-section .carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.home .home-container .first-section .carousel img.active {
    opacity: 1;
}

.home .home-container .first-section .show-products{
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    justify-content: space-between;
    padding: 2.5rem;

    div{
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.home .home-container .first-section .show-products .left{
    height: 80vh;
    background-image: url('../images/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.webp');
}

.home .home-container .first-section .show-products .right{
    height: 80vh;
    background-image: url('../images/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.webp');
}

.over-element{
    position: absolute;
    top: 5%;
    left: 12%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 43%;
    padding: 1rem;

    div{
        color: #fff;
        background-color: red;
        padding: 4px 10px;
        margin-right: auto;
    }

    h1{
        font-size: 4em;
        line-height: 1.25;
        font-weight: bold;
    }

    button{
        margin-right: auto;
        background: #6366f1;
        padding: 10px 30px;
        border-radius: 2rem;
        font-size: 1.2em;
        color: #fff;
    }
}

/* qsbdwygubgjfvezjdsgvckiyfvszdfuyjuqfsywfys */

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

.second-section h1{
    font-weight: bolder;
    font-size: 2.5em;
    letter-spacing: -.5px;
    font-family: 'Samsung Sharp Sans Bold';
}

.second-section .second-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.second-section .second-section-content .second-section-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    a{
        font-weight: bold;
        font-size: 1.05em;
    }
    .action-link{
        text-decoration: 2px underline;
        text-underline-offset: 6px;
        font-size: 1.2em;
    }
    .second-section-navbar{
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
}

.second-section-main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    padding: 0 1rem;
}

.second-section-main .best-product{
    width: 100%;
    height: 100%;
    background-image: url("../images/men.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}

.second-section-main .stiky-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
}

.second-section-main .product{
    width: 48.1%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}

.second-section-main .product.one{
    background-image: url("../images/pull.jpg");
}

.second-section-main .product.two{
    background-image: url("../images/radio.webp");
}

.second-section-main .product.three{
    background-image: url("../images/ecouteur.webp");
}

.second-section-main .product.four{
    background-image: url("../images/HeaderRight.jpg");
}

/* qsdkcfibskeirfbzksedfzekbfkiezkfb;€bkiubkuibbezkd */

.third-section{
    display: flex;
    align-items: center;
    height: 48vh;
    background-color: #f5f5f5;
    padding: 2rem 0;
}

.third-section .third-section-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.third-section .brand-words{
    font-size: 2em;
    color: #727272;
    padding: 0 7rem;
    
    h1{
        color: #000;
        font-weight: bold;
    }
}

.slider {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .slider-content {
    display: inline-block;
    padding: 0 6rem;
  }
  
  .slider-content img {
    margin-left: 2rem;
    width: 125px;
    height: auto;
    display: inline-block;
    object-fit: cover;
  }

  .slider-content img:nth-child(1) {
    margin-left: 0;
  }

  .slider-content img:nth-last-child(1) {
    margin-right: 6rem;
  }

  /* dsfcxlo,zjqsdiqjuihnzuibedsuhbkubezjubfhybzejdbsyubzeds */

  .fourth-section{
    display: flex;
    flex-direction: column;
    padding: 4rem 0 0 0;
  }

  .product-one, .product-two, .product-three{
    height: 130vh;
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
  }

  .product-one{
    background-image: url('../images/Home.avif');
}

.product-two{
    background-image: url('../images/meubles.avif');
}

.product-three{
    background-image: url('../images/vetements7.jpg');
    background-position: center;
}
.product h1{
    font-family: 'Samsung Sharp Sans Bold';
}
  


  