@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Tenor";
    src: url("../fonts/TenorSans-Regular.ttf");
}

@font-face {
    font-family: 'Samsung Sharp Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Regular'), url('../fonts/samsungsharpsans.woff') format('woff');
}

@font-face {
    font-family: 'Samsung Sharp Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Medium'), url('../fonts/samsungsharpsans-medium.woff') format('woff');
}


@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sharp Sans Bold'), url('../fonts/samsungsharpsans-bold.woff') format('woff');
}

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Samsung Sharp Sans Medium";
    /* font-family: "Tenor"; */
}

body{

}